extends layout

block content
  dialog(data-type='connection_dialog')
    form(method='dialog', data-type='connection_form')
      fieldset.aesthetics_pannel.flow_flex_column
        input.aesthetics_interaction(type='text', autofocus, name='user', placeholder='Enter username', required,minlength="3",  maxlength="10" )
        div.hidden(data-type='connection_error')
        div.flow_flex
          label.flow_center(data-display='Sign up') 
            input.aesthetics_interaction.aesthetics_icon.aesthetics_selectable.flow_center(type='radio', name='sign_type', value='sign_up') 
          button.aesthetics_interaction.aesthetics_icon.flow_flex(data-type='request_connection') 
            svg(viewBox='0 0 10 10')
              path(d='M1,5h4v-1l2,1l-2,1v-1')
              path(fill='none' d='M3,3v-2h6v8h-6v-2')             
          label.flow_center(data-display='Sign in')
            input.aesthetics_interaction.aesthetics_icon.aesthetics_selectable.flow_center(type='radio', name='sign_type', value='sign_in',checked) 
  dialog(data-type='discussion_dialog')
    div.aesthetics_pannel.flow_flex_column(data-type='discussion')
      avatar-icon.flow_center.aesthetics_pannel.flow_absolute.aesthetics_circular
      span.flow_absolute
      button.flow_center.aesthetics_icon.aesthetics_interaction.flow_absolute(data-type='return') 
        svg(viewBox='0 0 7 5')
          path(d='M3,1 l-2,1l2,1m-2,-1h4q1,0 1,1v1', fill='none')
      button.aesthetics_icon.aesthetics_interaction.flow_absolute(data-type='retrieve_discussion') 
        svg(viewBox='0 0 10 10')
          path(d='M5,1v5l-1,-2m1,2l1,-2', fill='none')
          path(d='M1,5h1v2h6v-2h1v2q0,1 -1,1h-6q-1,0-1,-1z')
      div(data-type='messages')
      div.flow_flex_column(data-type='replay_track_list')
      div(data-type='controls')
        button.aesthetics_icon.aesthetics_interaction(is='recorder-controller', data-states='microphone,pause', data-type='recorder_controller') 
  div.aesthetics_pannel.flow_flex_column(data-type='home')
    h1 Welcome
    avatar-icon.flow_center.aesthetics_pannel
    div(data-type='discussions')
    form.flow_flex_column(data-type='contact_form')
      input.aesthetics_interaction(type='text', autofocus, name='contact', placeholder='Enter username', required,minlength="3",  maxlength="10" )
      div.hidden(data-type='contact_error')
      button.aesthetics_interaction.aesthetics_icon.flow_flex 
        svg(viewBox='0 0 7.5 11 ')
          path(d='M2,2.5a1.5,1.5 0 0 0 3,0a1.5,1.5 0 0 0 -3,0')
          path(d='M1,10v-3q0,-1 1,-1h1v1.5h1v1h2v1.5')
          path(fill='none' d='M4,6h3m-1.5,-1.5v3')
