doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/discussion.css')
    script(src='//unpkg.com/@ungap/custom-elements/es.js')
    script(src='/javascripts/script.js', type='module')
  body
    block content
